---
layout: page
format: collection
---
	<div class="large-12 cell">
		<!--collection start-->
		<div class="photo-scroller">
  			<div class="photo-track">
   				<img src="/assets/images/horses.jpg" alt="">
    			<img src="/assets/images/maceo.jpg" alt="">
    			<img src="/assets/images/scovel.jpg" alt="">
    			<img src="/assets/images/gomez.jpg" alt="">
  			</div>
		</div>
		
		{{ content }}
		<!--collection end-->
	</div>
</div>
<div class="grid-container">
	<div class="grid-x grid-padding-x grid-margin-x">
	{% if page.url contains "blog" %}{% include _postlist.html %}
	{% else %}
		{% comment %}Handle sorting at this level instead of in _itemlist.html{% endcomment %}
		{% if page.group %}
			{% assign siteitems = site.items | where:"group", page.group | sort: 'chapter_number' %}
		{% else %}
			{% assign siteitems = site.items | sort: 'chapter_number' %}
		{% endif %}
		
		{% for item in siteitems %}
			{% include _itembox.html %}
		{% endfor %}
	{% endif %}
		</div>
	</div>
</div>
